.shopping-summery {
  table tbody tr img {
    max-width: 80px;
    margin-right: 15px;
  }
  .form-check-label {
    display: none;
  }
  h6 {
    font-size: 14px;
  }
  td.pl-30 {
    padding-left: 0 !important;
  }
  button.btn {
    width: 120px;
    margin-left: 15px;			
  }
}