:root {
  --secondary: #e5e5e5;
  --thema-color-1: #43368C;
  --thema-text-color: #ffd300;
  --danger: #db471e;
  --warning: #ffd300;
  --success: #43368C;
  --primary: #5d3ebc;
  --light: #f3f0fe;
  --gray: #a2a2a2;
  --info: #4eb5eb;
  --border-color-primary: var(--success);

}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

#header {
  background-color: var(--thema-color-1);
  position: sticky;
  z-index: 30;
  top: 0;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: var(--thema-text-color);
  border-radius: 2px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 7.9em;
  width: 230px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: var(--thema-color-1);
}

.menu.active {
  right: 0;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

#header .container {
  padding: 0 2.5em;
}

#header .menu div {
  display: inline-block;
  margin-right: 0.5em;
}

#header .menu div {
  position: relative;
  transition: .2s;
  font-size: 1.15em;
  font-weight: 500;
  color: var(--thema-text-color);
  outline: 0;
  /* padding: 0 0.1em; */
  border-radius: 1.6em;
  cursor: pointer;
  line-height: 42px;
  height: 43px;
  display: inline-block;
  min-width: 3.5em;

  /* background: #f6f7f8; */
}

#header .menu div:hover {
  background-color: var(--thema-color);
  color: #fff;
  border: var(--thema-color);
}

#header nav {
  background-color: var(--thema-color);
  padding: 1em 0em;
  display: flex;
  justify-content: end;
  align-items: center;
  /* color: #fff; */
  border-bottom: 1px solid var(--border-color-primary);
}

#header div .container>* {
  flex: 1;
}

/* Responsive header */

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }

  .menu {
    background-color: var(--thema-color-1);
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;

    align-items: center;
  }

  #header nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }

  .nav__link:hover:before {
    width: 100%;
  }

  .icon {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .nav__menu-bar {
    padding: 2.1em 2.1em;
    ;
  }

  .icon {
    font-size: 1.3em;
  }
}

.card-header {
  background: none;
}

.favorite-button {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--thema-text-color);
}

.favorite-button:active {
  color: var(--thema-color-1);
  border: none;
}

.favorite-button:focus {
  color: var(--thema-color-1);
  border: none;
}

.favorite-button.active {
  color: var(--thema-color-1);
  border: none;
}

.favorite-button:hover {
  color: var(--thema-color-1);
  border: none;
}

.favorite-button svg:hover {
  font-size: 1.3em;
}

.basket-button {
  color: var(--thema-color-1);
}